@font-face {
    font-family: [];
    src: url('../fonts/');
}

html{
    scroll-behavior: smooth;
}
header{
    background-color: rgba(255,215,76, 0.5);
    padding: 2%;  
    display: flex;
    flex-direction: column;
    align-items: center;
}


.fixo{
    position: fixed;
    width: 100%;
    z-index: 1000;
}



body{
    background-color: black;
}

.menu{
    position: fixed;
    width: 100%;
    background-color: rgba(255,215,76, 0.5);
    padding: 2px;
    }

.itens_Menu, .itens_sumario, .menu_ext{
    padding-top: 1%;
    text-align: center;
    font-size: 1.3em;
    line-height: 1cm;
} 
 

.itens_Menu a:visited, .itens_Menu a:link,  .menu_ext a:visited, .menu_ext a:link{
    color: #1C1C1C;
    text-decoration: none;
    font-weight: bolder;

}



.itens_Menu a:hover, .menu_ext a:hover, .itens_sumario a:hover {background-color: rgba(105,105,105);}




p{ 
    color: white;
    font-size: 1.3em;
 
    text-align: justify;
    text-indent: 40px;
}




figure{text-align:center;}

.direita{ float: left;
margin-right: 2%;
margin-top: 2%;
margin-bottom: 2%;
width: 40%;
}

.esquerda{ float: right;
margin-left: 2%;
margin-top: 2%;
margin-bottom: 2%;
width: 40%;


}

.conteiner {
width: 70%;
 margin: auto;
text-align: center;
line-height: 0,5cm;
}

.texts{width: 70%;
    margin: auto;
  text-align: center;
   line-height: 0,5cm;
}


.img_top{
    width: 25%;
}

.img_corpo{ width: 60%;
margin-top: 2%;
margin-bottom: 2%;}

.img_topo{
width: 100%;

}

.img_logo{
    width: 20%;
}

.logo{
    text-align: center;
}

.banner{

    margin-top: 40%;
}

footer{
    background-color: rgba(255,215,0);
    padding: 2%;
    margin-top: 2%;
}

#mais a {
    color: black;
}

footer p {
    text-align: center;
    font-size: 1em;
    color: black;
    
}

.botao{
    margin: 1%;
    width: 100px;
    height: 30px;
    padding: 2%;
    background-color: rgba(red, green, blue, alpha);
    margin: auto;
}
.botao:hover{
    background-color:rgba(105,105,105)
}

.botao a:link, .botao a:visited{
    color: rgba(255,215,0);
    text-decoration:  none;
    font-weight: bolder;
}

.botao p {
    text-align: center;
}

section {
    margin-top: 2%;
    margin-bottom: 2%;
}

h1{
    color:  white;
    margin-bottom: 2%;
    text-align: center;
    font-size: 2em;
    z-index: -1000;
   
   
}

.forms {
 box-sizing: border-box;
border-radius: 25px;
background-color: rgba(255,215,0);
padding: 5%;
}

input[type=text],input[type=email],input[type=date],input[type=tel], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid yellow;
    border-radius: 4px;
    resize: vertical;
}

label{
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-25{
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75{
    float: left;
    width: 75%;
    margin-top: 6px;
}

.header{
    background-color: rgba(105,105,105);
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.fixo{

}

/* clear floats after the columns*/
.row::after{
    content: "";
    display: table;
    clear: both;
}

/* alteração quando tela for menor de 600 px*/

@media screen and (max-width:600px){
    .col-25, .col-75 input [type=submit];
    width: 100%;
    margin-top: 0;
}

/* alteração quando tela for maior de 601 px*/

@media screen and (min-width:601px)
{
    .header{
    padding: 3%;
        flex-direction: row;
        top: 0;
    }
}

.itens_Menu {
    
    
    position: absolute;
    right: 6%;
    top: 45%;
    width: 70%;
}
    
.itens_Menu ul li{
    display: inline;
    margin-left: 1%;

}

.img_logo{
    width: 30%;
}

.logo{

    width: 30%;
    text-align: left;
}

.banner{
    margin-top: 5%;
}

  
